<nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo/logoNew.png" alt="" height="30" class="d-inline-block align-text-top htw-logo ms-3">
      <span class="d-inline-block ms-3">TMS LoRa Chat TEST-App</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
